.app {
  display: flex;
  font-family: "Inter", sans-serif;
  color: #333;
  height: 100vh;
}

/* GLOBAL PAGE WRAPPER */
.content {
  flex: 1;
  padding: 2rem;
  background-color: #f9fafb;
  overflow-y: auto;
  box-sizing: border-box;
}
